<div style="padding: 15px; font-size: 20px; text-align: center;">
    <h2>Test task #3</h2>
</div>

<div>
    <div>
        {% block content %}
        {% for posts in post %}
            <div style="background-color: white;padding: 20px;margin-top: 20px;">
                <h2>{{ posts.title }}</h2>
                <h5>{{ posts.content }}</h5>
                <img style="height: 200px" src="{{ posts.image.url }}">
            </div>

            {% empty %}
            <div style="text-align: center;">No posts have been added yet.</div>
        {% endfor %}
        <br>
        <form style="text-align: center;" action="{% url 'task_threes:new_post' %}">
            <input type="submit" value="Add a new post:"/>
        </form>
        {% endblock content %}

    </div>
</div>
